/*reset css*/
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

#encabezado {
    height: 150px;
    background: #1b1536;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
#encabezado figure {
    margin: 0;
}

#contenido {
}

/*Inicio nota importante*/

#nota-importante {
   height: 600px;
   margin: 20px 0;
   width: 750px;
   display: inline-block;    
}

#titulo-nota {
    color: black;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin: 42px 0 21px;
}

.img-principal {
    box-shadow: 0 0 15px darkgray;
}

/*NOTA IMPORTANTE FIN*/

#pie {
     height: 25%;
    background-color: #1fa345;
    display: flex;
    justify-content: space-between;
}

/*barra menu inicio*/
#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #1b1536;
}
#menu li {
    list-style-type: none;
    padding: 0;
}
#menu ul {
    padding: 0;
}
#menu>ul>li {
    display: inline-block;
}
#menu li a{
    text-decoration: none;
    color: yellow;
}
#menu>ul>li>a {
    padding: 10px;
    background-color: #1b1536;
    transition: 0.5s;
}
#menu>ul>li>a:hover {
    background-color:darkblue;
}
#menu li ul {
    display: none;
}
/*barra menu inicio*/


#noticias {
    width: 390px;
    display: inline-block;
    height: 50%;
}

#noticias article {
    display: flex;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-bottom: 1px dotted lightgray;
}
.imagen-noticias {
    position: relative;
}
.sombra-imagen {
    box-shadow: 0px 0px 5px black;
}
.imagen-noticias span {
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 3px 5px;
    background-color: cornflowerblue;
}

.titulo-noticias {
    font-size: 1.5em;
    line-height: 0.9em;
    font-variant: small-caps;
    text-decoration: none;
    color: #1fa345; 
}
.cuerpo-noticias {
    padding-left: 20px;
    padding-right: 10px;
    text-align: -webkit-center;
}
.flexible {
    display: flex;
}
#noticia {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
#info {
   width: 400px;
   margin-top: 25px;
}
#info h2{
    color: floralwhite;
}
#info a{
    text-decoration: none;
    color: floralwhite;
}
#parrafillo {
    color: floralwhite;
    text-align: center;
}
#redes-sociales {
    text-align: center;
    margin-top: 100px;
}

.facebook, .twitter {
    width: 33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.5s;
}

.facebook {
    background: url('../images/facebook_twitter.png') 0 0;
}

.twitter {
    background: url('../images/facebook_twitter.png') -43px 0;
}

.facebook:hover {
    background: url('../images/facebook_twitter.png') 0 -43px;
}

.twitter:hover {
    background: url('../images/facebook_twitter.png') -43px -43px;
}
#copy {
    text-align: center;
    margin-top: 150px;
    color: white;
}

/*css prueba*/

.btn-o {
    max-width: 100%;
    margin-top: 30px;
}
.btn {
    position: relative;
    height: 35px;
    padding: 1px 8px 1px 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
}
.btn i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent 0 0 no-repeat;
    background-image: url('../images/social-icons-t.png');
}
.btn-o, .count-o, .btn, .btn .label, #count {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.btn .label {
    margin-left: 3px;
    white-space: nowrap;
}
.btn .label b {
    font-weight: 500;
    white-space: nowrap;
}